.footer {
  height: 214px;
  width: 100%;
  background-color: #89bcd9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-image {
  height: 50px;
  width: auto;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.left-wrapper {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  color: black;
  font-size: 18px;
}

.name-logo {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
}

.text-logo {
  color: black;
  font-size: 18px;
}

.middle-mobile,
.bottom-mobile {
  display: none;
}

@media (max-width: 1075px) {
  .footer {
    height: 243px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .left,
  .right {
    display: none;
  }

  .middle-mobile {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  .bottom-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: black;
    font-size: 18px;
  }
}
