<section class="footer">
  <div class="left">
    <div class="left-wrapper">
      <div>Legal notice</div>
      <div>© Gaetano Leanza 2025</div>
    </div>
  </div>
  <div class="middle">
    <img src="img/logos/Logo icon footer.png" alt="Logo" class="logo-image" />
    <div class="name-logo">G.Leanza</div>
    <div class="text-logo">developer</div>
  </div>
  <div class="right">
    <img
      [src]="GitHubSrc"
      alt="Shape"
      class="shape-image"
      (mouseenter)="GitHubEnter()"
      (mouseleave)="GitHubLeave()"
    />
    <img
      [src]="EMailSrc"
      alt="Shape"
      class="shape-image"
      (mouseenter)="EMailEnter()"
      (mouseleave)="EMailLeave()"
    />
    <img
      [src]="LinkedInSrc"
      alt="Shape"
      class="shape-image"
      (mouseenter)="LinkedInEnter()"
      (mouseleave)="LinkedInLeave()"
    />
  </div>
</section>
