.footer {
  height: 214px;
  width: 100%;
  background-color: #89bcd9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 214px;
  width: 1630px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-image {
  height: 50px;
  width: auto;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 160px;
}

.middle {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 160px;
}

.left-wrapper {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  color: black;
  font-size: 18px;
}

.name-logo {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
}

.text-logo {
  color: black;
  font-size: 18px;
}

.middle-mobile,
.bottom-mobile {
  display: none;
}

.legalNotice {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.legalNotice:hover {
  color: white;
}

.copyright {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

@media (min-width: 2000px) {
  .left {
    align-items: flex-start;
  }

  .middle {
  }

  .right {
    padding-left: 375px;
  }
}

@media (max-width: 1250px) {
  .left {
    padding-right: 120px;
  }

  .right {
    padding-left: 120px;
  }
}

@media (max-width: 1075px) {
  .footer {
    height: 243px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .footer > * {
    max-width: 1480px;
    width: 100%;
  }

  .left,
  .right {
    display: none;
  }

  .middle-mobile {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }

  .bottom-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: black;
    font-size: 18px;
  }
}
