<section class="footer">
  <div class="left">
    <div class="left-wrapper">
      <div>{{ "LegalNotice" | translate }}</div>
      <div class="copyright">© Gaetano Leanza 2025</div>
    </div>
  </div>
  <div class="middle">
    <img src="img/logos/Logo icon footer.png" alt="Logo" class="logo-image" />
    <div class="name-logo">G.Leanza</div>
    <div class="text-logo">developer</div>
  </div>
  <div class="right">
    <img
      [src]="GitHubSrc"
      alt="Git Hub Button"
      class="shape-image"
      (mouseenter)="GitHubEnter()"
      (mouseleave)="GitHubLeave()"
      (click)="openGitHub()"
    />
    <img
      [src]="EMailSrc"
      alt="E-Mail Button"
      class="shape-image"
      (mouseenter)="EMailEnter()"
      (mouseleave)="EMailLeave()"
      (click)="navigateTo('contact')"
    />
    <img
      [src]="LinkedInSrc"
      alt="LinkedIn Button"
      class="shape-image"
      (mouseenter)="LinkedInEnter()"
      (mouseleave)="LinkedInLeave()"
      (click)="openLinkedIn()"
    />
  </div>

  <div class="middle-mobile">
    <img
      src="img/buttons/Github button white.png"
      alt="Logo"
      class="git-hub-mobile-image"
    />
    <img
      src="img/buttons/Email button white.png"
      alt="Logo"
      class="e-mail-mobile-image"
    />
    <img
      src="img/buttons/Linkedinbuttonwhite.png"
      alt="Logo"
      class="linked-in-mobile-image"
    />
  </div>

  <div class="bottom-mobile">
    <div>{{ "LegalNotice" | translate }}</div>
    <div>© Gaetano Leanza 2025</div>
  </div>
</section>
