<section class="privacy-policy">
  <header class="header">
    <div class="header-container">
      <a href="../index.html" class="startseite-link">Startseite</a>
    </div>
  </header>

  <main class="impressum-text">
    <h1>{{ "LegalNotice" | translate }}</h1>

    <p class="headline">{{ "legal" | translate }}</p>
    <p class="Text">
      Gaetano Leanza<br />
      Chemnitzer Straße 29<br />
      59067 Hamm
    </p>

    <p class="headline">{{ "contactText" | translate }}</p>
    <p class="Text">
      Telefon:
      <a href="tel:+49238132174" class="imp-link">+49 (0)2381 32174</a><br />
      E-Mail:
      <a href="mailto:gaetano1981x@live.de" class="imp-link"
        >gaetano1981&#64;live.de
      </a>
    </p>

    <p class="headline">{{ "responsible" | translate }}</p>
    <div>
      <p class="Text">
        Gaetano Leanza<br />
        Chemnitzer Straße 29<br />
        59067 Hamm
      </p>
    </div>

    <p class="headline">{{ "disclaimer" | translate }}</p>
    <p class="Text">
      {{ "disclaimerText" | translate }}
    </p>

    <p class="headline">{{ "dispute" | translate }}</p>
    <p class="Text">
      {{ "commission" | translate }}
    </p>
    <a
      class="imp-link"
      href="https://ec.europa.eu/consumers/odr/"
      target="_blank"
      rel="noopener noreferrer"
      >https://ec.europa.eu/consumers/odr/</a
    >

    <p class="Text">{{ "imprint" | translate }}</p>

    <br />
    <br />
  </main>
</section>

