@media (max-width: 900px) {
  .main-container {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: auto;
    height: 100vh;
    overflow: hidden !important;
  }

  .logo-container {
    position: static;
  }

  .signup-container {
    width: 50%;
    max-width: 500px;
    height: 610px !important;
    padding: 1rem;
    box-shadow: none;
    background-color: red;
    margin-bottom: 0;

    .headline {
      h1 {
        font-size: 45px !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .logo-container img {
    width: 70px;
    height: auto;
  }

  .input-container {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .main-container {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: auto;
    height: 100vh;
    overflow: hidden !important;
  }

  .logo-container {
    position: static;
  }

  .signup-container {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 1rem;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0;

    .headline {
      h1 {
        font-size: 47px;
      }
    }
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: static;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .success-message {
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    transform: translateX(0) translateY(150%);
    width: auto;

    &.show {
      transform: translateY(0);
    }
  }
}

@media (max-width: 540px) {
  .signup-container {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 1rem 2rem !important;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0;
    margin-top: 70px;
  }

  .arrow-left {
    display: flex;
    position: absolute;
    right: 20%;
  }

  .logo-container img {
    width: 50px;
    height: auto;
  }

  footer {
    gap: 1rem;
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 430px) {
  .main-container {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: auto;
    height: 100vh;
    overflow: hidden !important;
  }

  .logo-container {
    position: static;
  }

  .signup-container {
    width: 100%;
    max-width: 360px;
    height: auto;
    padding: 0.5rem;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0;

    .headline {
      h1 {
        font-size: 40px !important;
      }
    }
  }
}

@media (max-width: 380px) {
  .main-container {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: auto;
    height: 100vh;
    overflow: hidden !important;
  }

  .logo-container {
    position: static;
  }

  .signup-container {
    width: 100%;
    max-width: 290px;
    height: 745px !important;
    padding: 0.5rem;
    box-shadow: none;
    margin-bottom: 0;

    .headline {
      h1 {
        font-size: 35px !important;
      }
    }
  }

  .checkbox-container {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }

  .logo-container img {
    width: 40px;
    height: auto;
  }

  form {
    margin-top: 1rem;
  }

  .headline h1 {
    display: flex;
    position: absolute;
    margin-top: 430px !important;
    padding-bottom: 0px !important;
    font-size: 38px !important;
  }

  img.arrow-back {
    padding-top: 430px;
  }

  .signup-container {
    margin-top: 50px;
    height: 490px !important;
    gap: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 200px;

    .input-container {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      margin-top: 0rem;
      margin-bottom: 5px !important;
      padding-top: 180px;
    }

    .input-field-wrapper {
      position: relative;
    }

    .input-field {
      position: relative;

      input {
        width: 100%;
        padding: 8px !important;
        padding-right: 2.5rem;
        border-radius: 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 1rem;

        &:focus {
          outline: none;
          border: 2px solid #29abe2;
          box-shadow: 0 0 6px rgba(41, 171, 226, 0.5);
        }

        &.error {
          border: 2px solid #ff8181;
        }
      }

      img {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .error-message {
    font-size: 12px !important;
    margin-top: 5px;
  }

  footer {
    margin-bottom: -15px;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
  }

  .input-container {
    gap: 0.5rem;
    padding-top: 150px;
  }
}
