.content {
  max-width: 1580px;
  margin: 0 auto;
}

.bottom-container {
  position: sticky;
  margin-bottom: 40px;
  height: 120px;
  width: 100%;
  background-color: #89bcd9;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-logo {
  color: #89bcd9;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-container {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding-right: 10%;
}

.top-section,
.middle-section,
.bottom-section {
  height: 35%;
  width: 100%;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 88px;
}

.top-section-middle {
  padding-top: 180px;
}

.top-section-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  height: 30px;
  width: 30px;
  padding-top: 60px;
}

.title {
  font-size: 40px;
  margin-top: 10px;
  font-weight: 400;
}

.arrow-image {
  position: relative;
  bottom: 30px;
  width: 38px;
  height: auto;
  padding-top: 120px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
  }
}

.logo-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
}

.logo-image {
  position: absolute;

  width: 66px;
  height: auto;
  transition: transform 0.4s ease;

  &:hover {
    transform: scaleX(1.2); // Wird breiter beim Hover
    cursor: pointer;
  }
}

.logo-image {
  z-index: 1;
  opacity: 1;
}

.logo-image2 {
  margin-left: 3.5px;
  margin-top: 2px;
  z-index: 2;
  opacity: 1;
}

.left-container {
  margin-top: 11vh;
  display: grid;
  place-items: center;
  position: relative;
}

.shape-image {
  grid-area: 1 / 1;
  z-index: 1;
  margin-left: 50px;
  transform: rotate(320deg);
}

.shape-image {
  width: 550px;
  height: auto;
  transition: all 0.3s ease;

  &.shape-hover {
    width: 550px;
    transform: scale(1.1);
  }
}

.gaetano-image {
  height: 680px;
  width: 680px;
  grid-area: 1 / 1;
  z-index: 2;
  margin-left: 50px;
  pointer-events: none;
}

.name-logo {
  font-family: "Anta", sans-serif;
  font-weight: 400;
}

.text-logo {
  color: #89bcd9;
}

.text-logo-dark {
  color: #262e34;
}

.bottom-container-left {
  height: 120px;
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.bottom-container-middle {
  height: 120px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #262e34;
  font-size: 30px;
  gap: 90px;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}

.bottom-container-right {
  height: 120px;
  width: 265px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-right: 20px;
}

.shape-image {
  transition: all 0.3s ease;
}

.bottom-container-middle div {
  cursor: pointer;
  transition: color 0.3s ease;
}

.bottom-container-middle div:hover {
  color: white;
}

.email-image,
.github-image,
.linkedin-image {
  transition: all 0.3s ease;
  cursor: pointer;
}

.german-image,
.english-image {
  transition: all 0.3s ease;
  cursor: pointer;
}
