<div class="page-wrapper">
  <div class="content">
    <div class="left-container">
      <img
        [src]="shapeImageSrc"
        alt="Shape"
        class="shape-image"
        (mouseenter)="onShapeMouseEnter()"
        (mouseleave)="onShapeMouseLeave()"
      />
      <img src="gaetano/gaetano.png" alt="Gaetano" class="gaetano-image" />
    </div>

    <div class="right-container">
      <div class="top-section">
        <div class="top-section-left"></div>

        <div class="top-section-middle">
          <div class="logo-wrapper">
            <img src="img/logos/Logo 1.png" alt="Logo" class="logo-image" />
            <img src="img/logos/Logo 2.png" alt="Logo" class="logo-image2" />

            <div class="name-logo">G.Leanza</div>
            <div class="text-logo">developer</div>
          </div>

          <div class="top-section-right-mobile">
            <div class="burger-menu" (click)="toggleMobileMenu()">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
        </div>

        <div class="top-section-right">
          <img
            [src]="emailImageSrc"
            alt="Email"
            class="email-image"
            (mouseenter)="onEmailMouseEnter()"
            (mouseleave)="onEmailMouseLeave()"
            (click)="navigateTo('contact')"
          />
          <img
            [src]="githubImageSrc"
            alt="Github"
            class="github-image"
            (mouseenter)="onGithubMouseEnter()"
            (mouseleave)="onGithubMouseLeave()"
            (click)="openGitHub()"
          />
          <img
            [src]="linkedinImageSrc"
            alt="Linkedin"
            class="linkedin-image"
            (mouseenter)="onLinkedinMouseEnter()"
            (mouseleave)="onLinkedinMouseLeave()"
            (click)="openLinkedIn()"
          />
        </div>
      </div>

      <div class="middle-section">
        <img
          *ngIf="!isMobileMenuOpen"
          src="gaetano/gaetano responsive.png"
          alt="Gaetano"
          class="gaetano-image-responsive"
        />
        <img
          *ngIf="isMobileMenuOpen"
          src="img/hero section/shape.png"
          alt="Menu Shape"
          class="shape-image-class"
        />

        <div class="centered-mobile-nav" *ngIf="isMobileMenuOpen">
          <div class="mobile-nav-content">
            <div class="why-me" (click)="navigateTo('why-me')">
              {{ "whyMe" | translate }}
            </div>
            <div class="skills" (click)="navigateTo('skills')">
              {{ "skills" | translate }}
            </div>
            <div class="project" (click)="navigateTo('project')">
              {{ "project" | translate }}
            </div>
            <div class="contact" (click)="navigateTo('contact')">
              {{ "contact" | translate }}
            </div>
            <div class="bottom-container-mobile">
              <div class="bottom-container-mobile-button1">
                <img
                  [src]="getImageSrc('de')"
                  alt="german"
                  class="language-button german-image"
                  (click)="switchLanguage('de')"
                />
              </div>

              <div class="bottom-container-mobile-button2">
                <img
                  [src]="getImageSrc('en')"
                  alt="english"
                  class="language-button english-image"
                  (click)="switchLanguage('en')"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="name">Gaetano Leanza</div>
        <div class="title">FRONTEND DEVELOPER</div>
      </div>

      <div class="bottom-section">
        <img
          [src]="arrowImageSrc"
          alt="Arrow"
          class="arrow-image"
          (mouseenter)="onArrowMouseEnter()"
          (mouseleave)="onArrowMouseLeave()"
          (click)="navigateTo('why-me')"
          style="cursor: pointer"
        />
      </div>
    </div>
  </div>

  <div class="header-spacer"></div>

  <div class="bottom-container" [class.sticky]="isHeaderSticky">
    <div class="bottom-container-left">
      <div class="logo-wrapper2">
        <img src="img/logos/Logo dark mob.png" alt="Logo" />
        <div class="name-logo">G.Leanza</div>
        <div class="text-logo-dark">developer</div>
      </div>
    </div>

    <div class="bottom-container-middle">
      <div class="why-me" (click)="navigateTo('why-me')">
        {{ "whyMe" | translate }}
      </div>
      <div class="skills" (click)="navigateTo('skills')">
        {{ "skills" | translate }}
      </div>
      <div class="project" (click)="navigateTo('project')">
        {{ "project" | translate }}
      </div>
      <div class="contact" (click)="navigateTo('contact')">
        {{ "contact" | translate }}
      </div>
    </div>

    <div class="bottom-container-right">
      <div class="bottom-container-mobile-button1">
        <img
          [src]="getImageSrc('de')"
          alt="german"
          class="language-button german-image"
          (click)="switchLanguage('de')"
        />
      </div>

      <div class="bottom-container-mobile-button2">
        <img
          [src]="getImageSrc('en')"
          alt="english"
          class="language-button english-image"
          (click)="switchLanguage('en')"
        />
      </div>
    </div>
  </div>
</div>
