<div class="content">
  <div class="left-container">
    <img src="img/hero section/shape.png" alt="Shape" class="shape-image" />
    <img src="gaetano/gaetano.png" alt="Gaetano" class="gaetano-image" />
  </div>
  <div class="right-container">
    <div class="top-section"></div>
    <div class="top-section-left"></div>
    <div class="top-section-middle">
      <img src="img/logos/Logo mob.png" alt="Logo" class="logo-image" />
            <div class="name-logo">G.Leanza</div>
            <div class="text-logo">developer</div>

    </div>
    <div class="top-section-right"></div>

    <div class="middle-section">
      <div class="name">Gaetano Leanza</div>
      <div class="title">FRONTEND DEVELOPER</div>
    </div>

    <div class="bottom-section"></div>

    <img src="img/arrows/Arrow down.png" alt="Arrow Down" class="arrow-image" />
  </div>
</div>
<div class="bottom-container"></div>
