<div class="content">
  <div class="left-container">
    <img
      [src]="shapeImageSrc"
      alt="Shape"
      class="shape-image"
      (mouseenter)="onShapeMouseEnter()"
      (mouseleave)="onShapeMouseLeave()"
    />
    <img src="gaetano/gaetano.png" alt="Gaetano" class="gaetano-image" />
  </div>

  <div class="right-container">
    <div class="top-section">
      <div class="top-section-left"></div>

      <div class="top-section-middle">
        <img src="img/logos/Logo mob.png" alt="Logo" class="logo-image" />
        <div class="name-logo">G.Leanza</div>
        <div class="text-logo">developer</div>
      </div>

      <div class="top-section-right">
        <img
          src="img/buttons/Email button.png"
          alt="Email"
          class="email-image"
        />
        <img
          src="img/buttons/Github button.png"
          alt="Github"
          class="github-image"
        />
        <img
          src="img/buttons/Linkedin button.png"
          alt="Linkedin"
          class="linkedin-image"
        />
      </div>
    </div>

    <div class="middle-section">
      <div class="name">Gaetano Leanza</div>
      <div class="title">FRONTEND DEVELOPER</div>
    </div>

    <div class="bottom-section">
      <img
        [src]="arrowImageSrc"
        alt="Arrow"
        class="arrow-image"
        (mouseenter)="onArrowMouseEnter()"
        (mouseleave)="onArrowMouseLeave()"
        style="cursor: pointer"
      />
    </div>
  </div>
</div>

<div class="bottom-container">
  <div class="bottom-container-left">
    <img src="img/logos/Logo dark mob.png" alt="Logo" class="logo-image" />
    <div class="name-logo">G.Leanza</div>
    <div class="text-logo-dark">developer</div>
  </div>
  <div class="bottom-container-middle">
    <div class="why-me">Why me</div>
    <div class="skills">Skills</div>
    <div class="project">Project</div>
    <div class="contact">Contact</div>
  </div>
  <div class="bottom-container-right">
    <img src="img/change language/DE.png" alt="german" class="german-image" />
    <img src="img/change language/EN.png" alt="english" class="english-image" />
  </div>
</div>
