.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  position: relative;
  min-width: 300px;
  max-width: 950px;
  width: 95%;
  border-radius: 30px;
  max-height: 700px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  scrollbar-width: none;
}

button {
  position: relative;
  border: none;
  left: 0%;
  top: 2%;
}

button:hover {
  transform: scale(1.03) translateY(0px);
  transition: transform ease 0.2s;
  cursor: pointer;
}

#close {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 93%;
  background: url("/img/close.svg") no-repeat center;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

h3 {
  font-size: 50px;
  padding-left: 35px;
  padding-top: 40px;
  padding-bottom: 30px;
}

h4 {
  font-weight: 400;
  margin-bottom: 5px;
}

h5 {
  font-weight: 400;
  color: red;
  padding-left: 2px;
  font-size: 20px;
  padding-bottom: 5px;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 700px;
  border-radius: 12px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  display: flex;
  justify-items: row;
  height: 280px;
  gap: 40px;
}

.headline-wrapper {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  gap: 3px;
  margin-bottom: 5px;
}

.headline-wrapper h4 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.headline-wrapper h5 {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

.text-wrapper-mobile {
  display: none;
}

.text-bottom {
  display: flex;
  flex-direction: row;
  padding-left: 35px;
  gap: 2px;
  line-height: 0;
}

.left-side {
  height: 330px;
  width: 460px;
  padding-left: 35px;
}

.left-side input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  border-color: rgb(206, 203, 203);
}

.middle {
  height: 330px;
  width: 2px;
  border-radius: 8px;
  background-color: rgb(177, 177, 177);
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 330px;
  width: 400px;
}

.content-bottom {
  width: 920px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  margin-top: 150px;
}

.content-bottom-mobile {
  display: none;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.icon-assign {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("/img/arrow-drop-down.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
  transition: background-image 0.3s;
}

.icon-assign:hover {
  background-image: url("/img/arrow-drop-down-hover.svg");
}

.icon-category {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("/img/arrow-drop-down.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
  transition: background-image 0.3s;
}

.icon-category:hover {
  background-image: url("/img/arrow-drop-down-hover.svg");
}

.icon-category.open:hover {
  background-image: url("/img/arrow-drop-up-hover.svg");
}

.icon-category.open {
  background-image: url("/img/arrow-drop-up.svg");
}

.icon-subtask {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("/img/Subtasks-icon.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
  transition: background-image 0.3s;
}

.icon-subtask:hover {
  background-image: url("/img/Subtasks-icon-hover.svg");
}

.icon-subtask-wrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  background: white;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
}

.icon-close {
  width: 20px;
  height: 20px;
  background: url("/img/close.svg") no-repeat center;
  background-size: 16px;
  cursor: pointer;
}

.icon-close:hover {
  background: url("/img/close-hover.svg") no-repeat center;
  background-size: 16px;
}

.icon-check {
  width: 20px;
  height: 20px;
  background: url("/img/haken.svg") no-repeat center;
  background-size: 16px;
}

.icon-check:hover {
  background: url("/img/haken-hover.svg") no-repeat center;
  background-size: 16px;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #ccc;
  margin: 0 6px;
}

.avatar-container {
  display: flex;
  gap: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: white;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-wrapper {
  position: relative;
}

.assign-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 250px;
  width: 100%;
  height: 400px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
}

.contact-list-wrapper {
  transform: scale(0.95);
  transform-origin: top left;
}

.category-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  z-index: 900;
  margin-top: 4px;

  .modal-column {
    flex: 1;
    padding: 8px;

    .category-option {
      padding: 12px;
      cursor: pointer;
      text-align: center;
      border-radius: 4px;
      transition: background-color 0.2s;

      &.hovered {
        background-color: #f0f0f0;
      }
    }
  }
}

.subtask-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding-top: 2px;
  background: white;
  border: none;
  z-index: 10;
  list-style: disc inside;
}

.subtask-list li {
  padding: 2px 0;
  color: #333;
}

.success-info-modal {
  position: fixed;
  bottom: 104px;
  right: 40%;
  width: 500px;
  height: 100px;
  background-color: #2a3647;
  color: #fff;
  padding: 14px 32px;
  border-radius: 8px;
  font-size: 18px;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.3);
  z-index: 999;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-bottom-mobile {
  display: none;
}

.assign-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.contact-avatar {
  margin-right: 10px;

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
  }
}

.contact-name {
  flex-grow: 1;
}

.contact-checkbox {
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
}

.selected-contacts {
  display: flex;
  gap: 8px;
  margin-top: -14px;
}

.selected-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.contact-checkbox {
  margin-left: auto;
  pointer-events: none;
}

.contact-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.contact-item:hover {
  background-color: #f5f5f5;
}

.contact-item.selected {
  background-color: #2a3647 !important;
}

.contact-item.selected:hover {
  background-color: #2a3647 !important;
}

.contact-item.selected .contact-name {
  color: white;
}

.contact-checkbox {
  margin-left: auto;
}

.contact-checkbox input[type="checkbox"] {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.placeholder2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 8px;
  width: 425px;
  height: 100px;
  border-radius: 8px;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
  border: 2px solid #b3b3b3;
}

.placeholder3 {
  background: url("/img/date-icon.svg") no-repeat right 10px center;
  background-size: 20px;
  padding-right: 35px;
  border: 2px solid #b3b3b3;
}

.placeholder4,
.placeholder5,
.placeholder6 {
  border-radius: 8px;
  height: 45px;
  width: 130px;

  &.input-focused {
    border: 1px solid #007bff !important;
    outline: none;
  }
}

.placeholder7,
.placeholder8,
.placeholder9 {
  padding-left: 8px;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  height: 35px;
  width: 378px;

  &.input-focused {
    border: 1px solid #007bff !important;
    outline: none;
  }
}

.placeholder1,
.placeholder9 {
  border: 2px solid #b3b3b3;
}

.placeholder7,
.placeholder8 {
  padding-right: 40px;
  border: 2px solid #b3b3b3;
}

.placeholder5::placeholder {
  color: white;
  opacity: 1;
}

.placeholder7::placeholder,
.placeholder8::placeholder,
.placeholder9::placeholder {
  color: gray;
  opacity: 1;
}

.left-side .placeholder1.input-focused {
  border: 2px solid #007bff !important;
  outline: none;
}

.left-side .placeholder2.input-focused {
  border: 2px solid #007bff !important;
  outline: none;
}

.input-wrapper .placeholder7.input-focused {
  border: 2px solid #007bff !important;
  outline: none;
}

.left-side .placeholder8.input-focused {
  border: 2px solid #007bff !important;
  outline: none;
}

.input-wrapper .placeholder9.input-focused {
  border: 2px solid #007bff !important;
  outline: none;
}

.right-side .input-wrapper .placeholder8.input-focused {
  border: 2px solid #007bff !important;
  outline: none;
}

.left-side .placeholder1.input-error,
.left-side .placeholder8.input-error,
.right-side .input-wrapper .placeholder8.input-error {
  border: 2px solid #ff0000 !important;
}

.input-error {
  border: 2px solid #ff0000 !important;
  outline: none;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: -15px;
  display: block;
  text-align: left;
}

.left-side .placeholder1.input-error,
.left-side .placeholder8.input-error,
.right-side .input-wrapper .placeholder8.input-error {
  border: 2px solid #ff0000 !important;
}

.left-side .error-message {
  margin-left: 0;
}

.right-side .error-message {
  margin-left: 0;
  width: 378px;
}

.row3 {
  height: 60px;
}

.subtask-remove {
  color: #ff0000;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

.icon-subtask {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("/img/Subtasks-icon.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
  transition: background-image 0.3s;
  z-index: 5;
}

.icon-subtask:hover {
  background-image: url("/img/Subtasks-icon-hover.svg");
}

.icon-subtask-wrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  background: white;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
  z-index: 5;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
  min-height: 40px;
}

.subtask-edit-input {
  border: none;
  border-bottom: 1px solid #007bff;
  outline: none;
  font-size: inherit;
  width: 100%;
  padding: 2px;
  background: transparent;
}

.subtask-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.subtask-bullet {
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 12px;
  display: inline-block;
}

.subtask-text {
  flex-grow: 1;
  cursor: pointer;

  &.done {
    text-decoration: line-through;
    color: #888;
  }
}

.subtask-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subtask-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  margin-top: 5px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 4;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;

    &:hover {
      background: #555;
    }
  }
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #ddd;
}

.subtask-item {
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
  border: none;

  &:last-child {
    border-bottom: none;
  }
}

.icon-edit,
.icon-delete {
  cursor: pointer;
  color: #000000;
  /* Schwarz */
  font-size: 16px;
  line-height: 16px;
  opacity: 0.7;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}

.subtask-edit-input {
  border: none;
  border-bottom: 1px solid #007bff;
  outline: none;
  font-size: inherit;
  width: 100%;
  padding: 2px;
  background: transparent;
}

.placeholder9 {
  padding-right: 40px;
}

.row1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  height: 50px;
  width: 400px;
}

.row1 > div {
  margin: 0;
  padding: 0;
}

.buttons {
  height: 50px;
}

.image-button-left {
  width: 119px;
  height: 49px;
  background: transparent;
  border: none;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #999;
  border-radius: 10px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.2s ease,
    filter 0.2s ease;
}

.image-button-middle,
.image-button-right {
  width: 119px;
  height: 49px;
  background: transparent;
  border: none;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #999;
  border-radius: 10px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.2s ease,
    filter 0.2s ease;
}

.image-button-left svg,
.image-button-middle svg,
.image-button-right svg {
  width: 145px;
  height: 64px;
  display: block;
}

.image-button-left:hover,
.image-button-middle:hover,
.image-button-right:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.15));
}

.image-button-left:active,
.image-button-middle:active,
.image-button-right:active {
  transform: scale(0.97);
}

.image-button-left.active svg rect,
.image-button-middle.active svg rect,
.image-button-right.active svg rect {
  transition: fill 0.3s ease;
}

.image-button-right.active {
  svg rect {
    fill: #7ae229 !important;
  }

  svg path {
    fill: white !important;
  }
}

.image-button-left.active:hover {
  box-shadow: none;
}

.image-button-middle.active:hover {
  box-shadow: none;
}

.image-button-middle rect {
  fill: white;
}

.image-button-middle path:not(g path) {
  fill: black;
}

.image-button-middle g path {
  fill: #ffa800;
}

.image-button-middle.active rect {
  fill: #ffa800;
}

.image-button-middle.active path:not(g path) {
  fill: white;
}

.image-button-middle.active g path {
  fill: white;
}

.image-button-right.active:hover {
  box-shadow: none;
}

.image-button-left svg,
.image-button-middle svg,
.image-button-right svg {
  width: 145px;
  height: 64px;
  display: block;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  transition: filter 0.3s ease;
}

.image-button-left:hover svg,
.image-button-middle:hover svg,
.image-button-right:hover svg {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

.create-task-button {
  height: 50px;
  width: 165px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.create-task-button svg {
  transform: translateX(-12px) translateY(1px);
  height: 50px;
}

.create-task-button:hover svg rect {
  fill: #007cee;
  stroke: #007cee;
}

.cancel-button {
  height: 50px;
  width: 95px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
}

.cancel-button svg {
  transform: translateX(-9px) translateY(-0px);
  height: 50px;
}

.cancel-button:hover svg text {
  fill: #007cee;
  stroke: none;
}

.cancel-button:hover svg rect,
.cancel-button:hover svg path,
.cancel-button:hover svg circle {
  stroke: #007cee;
}

@media (max-width: 1020px) {
  .left-side {
    padding-left: 0px;
    width: 380px;
  }

  .right-side {
    padding-right: 0px;
    width: 380px;
  }

  .placeholder7,
  .placeholder8,
  .placeholder9 {
    padding-right: 0px;
    width: 380px;
  }

  .placeholder2 {
    width: 380px;
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
  }

  .content-bottom {
    width: 100%;
    padding-right: 30px;
  }
}

@media (max-width: 950px) {
  .left-side,
  .right-side,
  .placeholder2,
  .placeholder7,
  .placeholder8,
  .placeholder9 {
    width: 360px;
  }

  .buttons {
    height: 45px;
    width: 112px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 115px;
  }

  .image-button-middle {
    height: 45px;
    width: 110px;
    margin-left: 3px;
  }
}

@media (max-width: 900px) {
  .left-side,
  .right-side,
  .placeholder2,
  .placeholder7,
  .placeholder8,
  .placeholder9 {
    width: 340px;
  }

  .buttons {
    height: 45px;
    width: 104px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 109px;
  }

  .image-button-middle {
    height: 45px;
    width: 104px;
  }
}

@media (max-width: 850px) {
  .left-side,
  .right-side,
  .placeholder2,
  .placeholder7,
  .placeholder8,
  .placeholder9 {
    width: 320px;
  }

  .buttons {
    height: 45px;
    width: 96px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 101px;
  }

  .image-button-middle {
    height: 45px;
    width: 96px;
  }
}

@media (max-width: 800px) {
  .left-side,
  .right-side,
  .placeholder2,
  .placeholder7,
  .placeholder8,
  .placeholder9 {
    width: 300px;
  }

  .buttons {
    height: 45px;
    width: 91px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 96px;
  }

  .image-button-middle {
    height: 45px;
    width: 91px;
  }
}

@media (max-width: 768px) {
  .text-bottom-mobile {
    display: flex;
    padding-bottom: 0px;
    height: 30px;
    width: 300px;
    overflow-x: hidden;
  }

  .text-wrapper {
    display: none;
  }

  .text-wrapper-mobile {
    display: flex;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    height: 680px;
    overflow-y: auto;
    overflow-x: hidden;

    /* Versteckt die Scrollleiste für Chrome, Safari und Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Versteckt die Scrollleiste für Firefox */
    scrollbar-width: none;

    /* Versteckt die Scrollleiste für Internet Explorer und Edge */
    -ms-overflow-style: none;
  }

  .content-bottom,
  .text-bottom {
    display: none;
  }

  .content {
    overflow: visible;
  }

  .row5 {
    overflow-x: hidden;
    height: 100px;
    width: 100%;
  }

  h3 {
    padding-top: 50px;
    padding-left: 30px;
  }

  .middle {
    display: none;
  }

  .left-side {
    padding-left: 30px;
    padding-right: 30px;
    height: 300px;
    width: 100%;
  }

  .right-side {
    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
    width: 100%;
  }

  .placeholder2,
  .placeholder7,
  .placeholder8,
  .placeholder9 {
    width: 100%;
  }

  .input-wrapper {
    width: 100%;
  }

  .row1 {
    width: 100%;
    gap: 25px;
  }

  .row3 {
    padding-top: 10px;
  }

  .row4 {
    padding-bottom: 0px;
  }

  .image-button-left,
  .image-button-middle,
  .image-button-right {
    height: 45px;
    width: 108px;
  }

  .image-button-left svg {
    height: 49px;
    width: 114px;
  }

  .image-button-middle svg {
    height: 43px;
    width: 104px;
    transform: translateX(-3px) translateY(0px);
  }

  .image-button-right svg {
    height: 49px;
    width: 114px;
  }

  .buttons {
    width: 107px;
  }

  .content-bottom-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70px;
    width: 100%;
    gap: 20px;
    padding-top: 0px;
    transform: translateX(0px) translateY(-10px);
    padding-top: 200px;
  }

  .success-info-modal {
    bottom: 104px;
    width: 500px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -0%);
  }

  .cancel-button {
    height: 38px;
    width: 90px;
  }

  .subtask-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }

  .subtask-bullet {
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 12px;
    display: inline-block;
  }

  .subtask-text {
    flex-grow: 1;
    cursor: pointer;

    &.done {
      text-decoration: line-through;
      color: #888;
    }
  }

  .subtask-remove {
    color: #ff0000;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
  }

  .input-wrapper {
    position: relative;
    margin-bottom: 10px;
  }

  .placeholder9 {
    padding-right: 40px;
  }

  .icon-subtask {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("/img/Subtasks-icon.svg") no-repeat center;
    background-size: 20px;
    cursor: pointer;
    transition: background-image 0.3s;
    z-index: 5;
  }

  .icon-subtask:hover {
    background-image: url("/img/Subtasks-icon-hover.svg");
  }

  .icon-subtask-wrapper {
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    background: white;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
    z-index: 5; // Stellt sicher, dass das Icon über dem Input bleibt
  }

  .subtask-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    margin-top: 5px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 4;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;

      &:hover {
        background: #555;
      }
    }
  }

  .subtask-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }

  .input-wrapper {
    position: relative;
    margin-bottom: 10px;
    min-height: 40px;
  }

  .input-error {
    border: 2px solid #ff0000 !important;
    outline: none;
  }

  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: -15px;
    display: block;
    text-align: left;
  }
}

@media (max-width: 471px) {
  .row1 {
    gap: 20px;
  }

  .buttons {
    height: 45px;
    width: 101px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 106px;
    padding-right: 5px;
  }

  .image-button-middle {
    height: 45px;
    width: 101px;
  }
}

@media (max-width: 450px) {
  .row1 {
    gap: 15px;
  }

  h3 {
    font-size: 47px;
  }

  .buttons {
    height: 45px;
    width: 101px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 106px;
  }

  .image-button-middle {
    height: 45px;
    width: 101px;
  }
}

@media (max-width: 420px) {
  .row1 {
    gap: 10px;
  }

  .left-side {
    padding-left: 20px;
    padding-right: 20px;
  }

  .right-side {
    padding-left: 20px;
    padding-right: 20px;
  }

  .buttons {
    height: 40px;
    width: 94px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 100px;
    padding-bottom: 4px;
  }

  .image-button-middle {
    height: 45px;
    width: 95px;
    padding-bottom: 5px;
  }

  .create-task-button {
    height: 45px;
    width: 145px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
  }

  .create-task-button svg {
    transform: translateX(-17px) translateY(0px);
    height: 45px;
  }

  .cancel-button {
    height: 45px;
    width: 90px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
  }

  .cancel-button svg {
    transform: translateX(-9px) translateY(-0px);
    height: 45px;
  }
}

@media (max-width: 410px) {
  .buttons {
    height: 39px;
    width: 94px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 98px;
  }

  .image-button-middle {
    height: 45px;
    width: 93px;
    padding-left: 2px;
    padding-bottom: 6px;
  }
}

@media (max-width: 400px) {
  .buttons {
    height: 38px;
    width: 90px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 95px;
    padding-bottom: 7px;
  }

  .image-button-middle {
    height: 45px;
    width: 90px;
    padding-bottom: 8px;
  }

  .content-wrapper {
    height: 600px;
  }

  .content {
    height: 600px;
  }
}

@media (max-width: 387px) {
  .buttons {
    height: 37px;
    width: 85px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 90px;
  }

  .image-button-middle {
    height: 45px;
    width: 85px;
  }

  .create-task-button {
    height: 40px;
    width: 125px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
  }

  .create-task-button svg {
    transform: translateX(-25px) translateY(0px);
    height: 40px;
  }

  .cancel-button {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
  }

  .cancel-button svg {
    transform: translateX(-14px) translateY(-0px);
    height: 40px;
  }
}

@media (max-width: 370px) {
  .buttons {
    height: 32px;
    width: 78px;
  }

  .image-button-left,
  .image-button-right {
    height: 43px;
    width: 85px;
    padding-bottom: 12.282px;
    padding-right: 6px;
  }

  .image-button-middle {
    height: 45px;
    width: 80px;
    padding-bottom: 14px;
    padding-right: 4px;
  }
}
