<section class="about-me">
  <h2 class="headline">
    {{ "aboutMe" | translate }}
  </h2>

  <div class="headline-mobile">
    <div class="top">
      <h2>{{ "teamplayer" | translate }}</h2>
    </div>
    <div class="bottom">Here's what my colleagues said about me</div>
  </div>

  <div class="scroll-wrapper">
    <img src="img/about me/mobile.png" alt="Teammades" class="mobile-image" />

    <div class="teammades">
      <div class="image-container">
        <img
          [src]="shapeImageLeftSrc"
          alt="Shape"
          class="shape-image"
          (mouseenter)="onShapeLeftMouseEnter()"
          (mouseleave)="onShapeLeftMouseLeave()"
        />

        <div class="overlay-text">
          <p class="name">Sarah Meier</p>
          <span class="tight-break"></span>

          <div class="overlay-text-project">
            <p>{{ "witchProject" | translate }}</p>
            <p class="project-name">DA Bubble</p>
          </div>
          <br />

          <p class="main-text">
            {{ "comment1" | translate }}
          </p>
          <br />

          <p class="linked-in">Linked In Profile</p>
        </div>
      </div>

      <div class="image-container">
        <img
          [src]="shapeImageLeftSrc2"
          alt="Shape"
          class="shape-image"
          (mouseenter)="onShapeMiddleMouseEnter()"
          (mouseleave)="onShapeMiddleMouseLeave()"
        />
        <div class="overlay-text">
          <p class="name">Steffan Weimer</p>
          <span class="tight-break"></span>
          <div class="overlay-text-project">
            <p>{{ "witchProject" | translate }}</p>
            <p class="project-name">DA Bubble</p>
          </div>
          <br />
          <p class="main-text">
            {{ "comment2" | translate }}
          </p>
          <br />

          <p class="linked-in">Linked In Profile</p>
        </div>
      </div>

      <div class="image-container">
        <img
          [src]="shapeImageLeftSrc3"
          alt="Shape"
          class="shape-image"
          (mouseenter)="onShapeRightMouseEnter()"
          (mouseleave)="onShapeRightMouseLeave()"
        />
        <div class="overlay-text">
          <p class="name">Albert Schmied</p>
          <span class="tight-break"></span>
          <div class="overlay-text-project">
            <p>{{ "witchProject" | translate }}</p>
            <p class="project-name">DA Bubble</p>
          </div>
          <br />
          <p class="main-text">
            {{ "comment3" | translate }}
          </p>
          <br />

          <p class="linked-in">Linked In Profile</p>
        </div>
      </div>
    </div>
  </div>
</section>
