<section class="about-me">
  <h1 class="headline">
    {{ "aboutMe" | translate }}
  </h1>

  <div class="headline-mobile">
    <div class="top">
      <h2>{{ "teamplayer" | translate }}</h2>
    </div>
    <div class="bottom">Here's what my colleagues said about me</div>
  </div>

  <div class="scroll-wrapper">
    <img [src]="mobileImageSrc" alt="Teammates" class="mobile-image" />

    <div class="certificate">
      <div class="image-container">
        <div>
          <img
            src="img/certificate/zertifikat-frontend.jpg"
            alt="certificate"
            class="certificate-image"
          />
        </div>
        <div>
          <p class="linked-in">Frontend Developer</p>
        </div>
      </div>

      <div class="image-container">
        <div>
          <img
            src="img/certificate/zertifikat-frontend.jpg"
            alt="certificate"
            class="certificate-image"
          />
        </div>
        <div>
          <p class="linked-in">Frontend Developer</p>
        </div>
      </div>

      <div class="image-container">
        <div>
          <img
            src="img/certificate/zertifikat-frontend.jpg"
            alt="certificate"
            class="certificate-image"
          />
        </div>
        <div>
          <p class="linked-in">Frontend Developer</p>
        </div>
      </div>
    </div>
  </div>
</section>
