.why-me {
  text-align: center;
  padding: 2rem;
  margin-top: 60px;

  .headline {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap; 

    .box-left {
      padding-left: 1.5rem;
      max-width: 500px;
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .box-right {
    padding: 1.5rem;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
  }
}

.box-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
}

.why-me-button {
  display: block;
  align-self: flex-end;
  max-width: 200px;
  cursor: pointer;
}

.why-me-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  text-align: justify;
}

.located-in-english {
  width: auto;
  height: 135px;
  padding-bottom: 65px;
}

.located-in-mobile-english,
.located-in-mobile {
  display: none;
}

.located-in {
  display: none;
}

@media (max-width: 1240px) {
  .headline {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1185px) {
  .why-me-text-blue {
    font-size: 28px;
  }
}

@media (max-width: 1075px) {
  .why-me {
    margin-top: 310px;
  }

  .why-me-button {
    display: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .located-in-english {
    display: none;
  }

  .located-in-mobile-english {
    display: flex;
  }
}

@media (max-width: 490px) {
  .why-me {
    margin-top: 260px;
  }
}

@media (max-width: 450px) {
  .why-me {
    margin-top: 240px;
  }
}

@media (max-width: 430px) {
  .why-me {
    margin-top: 220px;
  }
}

@media (max-width: 400px) {
  .why-me {
    margin-top: 190px;
  }
}

@media (max-width: 380px) {
  .why-me {
    margin-top: 170px;
  }
}

@media (max-width: 360px) {
  .why-me {
    margin-top: 120px;
  }
}
