<section class="why-me">
  <h1 class="headline">{{ "whyMe" | translate }}</h1>
  <div class="row">
    <div class="box-left">
      <div class="icon">
        <img src="img/why%20me%20section/icon.png" alt="Icon" />
      </div>

      <div class="icon-mobile">
        <img src="img/why me section/icon mobile.png" alt="Icon" />
      </div>

      <div class="typing-container">
        <span [innerHTML]="typingText"></span>
      </div>
    </div>
    <div class="box-right">
      <div class="box-right-wrapper">
        <p class="why-me-text">
          {{ "whyMeText" | translate }}
        </p>
        <img
          [src]="whyMeSectionSrc"
          alt="Why-me Button"
          class="why-me-button"
          (mouseenter)="whyMeMouseEnter()"
          (mouseleave)="whyMeMouseLeave()"
          (click)="navigateTo('contact')"
        />
      </div>
    </div>
  </div>
</section>
