.why-me {
  text-align: center;
  padding: 2rem;
  margin-top: 60px;

  .headline {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap;

    .box-left {
      max-width: 500px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  .box-right {
    padding: 1.5rem;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
  }
}

.box-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
}

.why-me-button {
  position: relative;
  z-index: 10;
  display: block;
  align-self: flex-end;
  max-width: 200px;
  cursor: pointer;
}

.why-me-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}
.typing-container {
  font-family: monospace;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  animation: blinkCursor 0.7s steps(1) infinite;
  margin-bottom: 70px;
  color: white;
}

.icon {
  margin-bottom: 65px;
}

.icon-mobile {
  display: none;
}

@keyframes blinkCursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: transparent;
  }
}

@media (max-width: 1240px) {
  .headline {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1185px) {
  .why-me-text-blue {
    font-size: 28px;
  }
}

@media (max-width: 1075px) {
  .why-me {
    margin-top: 310px;

    .why-me-button {
      display: none;
    }

    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px !important;
    }
  }

  .icon {
    display: none;
  }

  .icon-mobile {
    display: flex;
    margin-bottom: 75px;
  }
}

@media (max-width: 570px) {
  .box-left {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .headline {
    font-size: 50px !important;
  }

  .icon-mobile {
    height: 30px;
    width: auto;
  }

  .typing-container {
    font-size: 25px;
  }

  @media (max-width: 410px) {
    .icon-mobile {
      height: 26px;
      width: auto;
    }

    .typing-container {
      font-size: 23px;
    }
  }

 @media (max-width: 380px) {
    .icon-mobile {
      height: 20px;
      width: auto;
    }

    .typing-container {
      font-size: 18px;
    }
  }

}
