<section class="why-me">
  <h1 class="headline">{{ "whyMe" | translate }}</h1>
  <div class="row">
    <div class="box-left">
      <!-- Schreibmaschinen-Text -->
      <div class="typing-container">
        <span class="typing-text" [innerHTML]="typingText"></span>
      </div>
    </div>
    <div class="box-right">
      <div class="box-right-wrapper">
        <p class="why-me-text">
          {{ "whyMeText" | translate }}
        </p>
        <img
          [src]="whyMeSectionSrc"
          alt="Why-me Button"
          class="why-me-button"
          (mouseenter)="whyMeMouseEnter()"
          (mouseleave)="whyMeMouseLeave()"
          (click)="navigateTo('contact')"
        />
      </div>
    </div>
  </div>
</section>
