<div class="content" id="contact">
  <div class="content-left">
    <h1 class="headline">{{ "contactMe" | translate }}</h1>

    <div class="wrapper">
      <div class="left">
        {{ "offerMe" | translate }}
      </div>

      <div class="work-together">{{ "work" | translate }}</div>

      <div class="right">
        <div
          class="right-top"
          (mouseenter)="EMailEnter()"
          (mouseleave)="EMailLeave()"
        >
          <div>
            <img [src]="EMailSrc" alt="E-Mail" class="e-mail-image" />
          </div>

          <div class="e-mail-wrapper">
            <div class="e-mail">
              <p>E-mail:</p>
            </div>
            <div class="e-mail2">
              <a href="mailto:gaetano1981@live.de" class="no-link-style">
                gaetano1981&#64;live.de
              </a>
            </div>
          </div>

          <div class="telefon-wrapper">
            <div class="telefon">
              <p></p>
            </div>
            <div class="telefon2">
              <a href="tel:+491234567890" class="no-link-style"> </a>
            </div>
          </div>
        </div>

        <br />
        <div
          class="right-bottom"
          (mouseenter)="PhoneEnter()"
          (mouseleave)="PhoneLeave()"
        >
          <div>
            <img [src]="PhoneSrc" alt="Phone" class="phone-image" />
          </div>

          <div class="phone-wrapper">
            <div class="number">
              <p>Tel: 0176 384 849 37</p>
            </div>
          </div>
        </div>
      </div>

      <div class="content-right">
        <img
          [src]="ArrowSrc"
          alt="Arrow-up"
          class="arrow-bottom-image"
          (mouseenter)="arrowEnter()"
          (mouseleave)="arrowLeave()"
          (click)="scrollToTop()"
        />
      </div>
    </div>
  </div>
</div>

<div class="input-section">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="input-top">
      <div class="input-top-1">
        <div class="headline1" [ngClass]="{ error: nameHasError }">
          {{
            nameHasError
              ? languageService.translate("nameRequired")
              : ("Name" | translate)
          }}
        </div>

        <input
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          class="custom-input-top"
          [ngClass]="{ error: nameHasError }"
          (blur)="validateName()"
        />
      </div>

      <div class="input-top-2">
        <div class="headline1" [ngClass]="{ error: emailHasError }">
          {{
            emailHasError
              ? languageService.translate("emailRequired")
              : ("Email" | translate)
          }}
        </div>

        <input
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          class="custom-input-top"
          [ngClass]="{ error: emailHasError }"
          (blur)="validateEmail()"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />
      </div>
    </div>

    <div class="input-middle">
      <div class="headline2">
        <div class="headline1" [ngClass]="{ error: messageHasError }">
          {{
            messageHasError
              ? languageService.translate("messageRequired")
              : ("Message" | translate)
          }}
        </div>
      </div>

      <div>
        <textarea
          [(ngModel)]="contactData.message"
          id="message"
          name="message"
          class="custom-input-bottom"
          [ngClass]="{ error: messageHasError }"
          (blur)="validateMessage()"
          required
        ></textarea>
      </div>
    </div>

    <div class="bottom-wrapper">
      <div class="input-bottom">
        <div
          class="input-button"
          (mouseenter)="InputButtonEnter()"
          (mouseleave)="InputButtonLeave()"
          (click)="toggleCheckbox()"
        >
          <img
            [src]="InputButtonSrc"
            alt="input-button"
            class="input-button-image"
          />
        </div>

        <ng-container *ngIf="languageService.currentLanguage$ | async">
        <div
  class="privacy-policy"
  [innerHTML]="'privacyNotice' | translate"
  (click)="onPrivacyClick($event)"
></div>

        </ng-container>
      </div>

      <div class="button">
        <button
          type="submit"
          class="send-button"
          (mouseenter)="SendButtonEnter()"
          (mouseleave)="SendButtonLeave()"
        >
          <img [src]="SendButtonSrc" alt="E-Mail" class="send-button-image" />
        </button>
      </div>
    </div>
  </form>
</div>

<div class="arrow-bottom">
  <img
    [src]="ArrowSrc"
    alt="Arrow-up"
    class="arrow-bottom-image-mobile"
    (mouseenter)="arrowEnter()"
    (mouseleave)="arrowLeave()"
    (click)="scrollToTop()"
  />
</div>
<div class="modal" *ngIf="showErrorModal">
  <div class="modal-content">
    <p [innerHTML]="errorMessage"></p>
    <button (click)="closeModal()">OK</button>
  </div>
</div>

<div class="modal" *ngIf="showSuccessModal">
  <div class="modal-content">
    <p>E-Mail erfolgreich versendet.</p>
    <button (click)="closeModal()">OK</button>
  </div>
</div>
