<div class="content">
  <div class="content-left">
    <h1 class="headline">{{ "contactMe" | translate }}</h1>

    <div class="wrapper">
      <div class="left">
        {{ "offerMe" | translate }}
      </div>

      <div class="work-together">{{ "work" | translate }}</div>

      <div class="right">
        <div
          class="right-top"
          (mouseenter)="EMailEnter()"
          (mouseleave)="EMailLeave()"
        >
          <div>
            <img [src]="EMailSrc" alt="E-Mail" class="e-mail-image" />
          </div>

          <div class="e-mail-wrapper">
            <div class="e-mail">
              <p>E-mail:</p>
            </div>
            <div class="e-mail2">
              <a href="mailto:gaetano1981@live.de" class="no-link-style">
                gaetano1981&#64;live.de
              </a>
            </div>
          </div>
        </div>

        <br />
        <div
          class="right-bottom"
          (mouseenter)="PhoneEnter()"
          (mouseleave)="PhoneLeave()"
        >
          <div>
            <img [src]="PhoneSrc" alt="Phone" class="phone-image" />
          </div>

          <div class="phone-wrapper">
            <div class="number">
              <p>Tel: 0176 384 849 37</p>
            </div>
          </div>
        </div>
      </div>

      <div class="content-right">
        <img
          [src]="ArrowSrc"
          alt="Arrow-up"
          class="arrow-bottom-image"
          (mouseenter)="arrowEnter()"
          (mouseleave)="arrowLeave()"
          (click)="scrollToTop()"
          style="cursor: pointer"
        />
      </div>
    </div>
  </div>
</div>


<div class="input-section">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

    <div class="input-top">
      <div class="input-top-1">
        <div class="headline1">{{ "Name" | translate }}</div>
        <div>
          <input [(ngModel)]="contactData.name" type="text" id="name" name="name" class="custom-input-top" required/>
        </div>
      </div>

      <div class="input-top-2">
        <div class="headline1">{{ "Email" | translate }}</div>
        <div>
          <input [(ngModel)]="contactData.email" type="email" id="email" name="email" class="custom-input-top" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />
        </div>
      </div>
    </div>

    <div class="input-middle">
      <div class="headline2">
        <div class="headline1">{{ "Message" | translate }}</div>
      </div>

      <div>
        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message"
          id="message"
          name="message"
          class="custom-input-bottom" required
        ></textarea>
        @if (!message.valid && message.touched && !message.disabled) {
          <span>Please enter a messages</span>
        }
      </div>
    </div>

    <div class="bottom-wrapper">
      <div class="input-bottom">
        <div
          class="input-button"
          (mouseenter)="InputButtonEnter()"
          (mouseleave)="InputButtonLeave()"
        >
          <img
            [src]="InputButtonSrc"
            alt="input-button"
            class="input-button-image"
          />
        </div>

        <ng-container *ngIf="languageService.currentLanguage$ | async">
          <div
            class="privacy-policy"
            [innerHTML]="'privacyNotice' | translate"
          ></div>
        </ng-container>
      </div>

      <div class="button">
        <button
          type="submit"
          class="send-button"
          (mouseenter)="SendButtonEnter()"
          (mouseleave)="SendButtonLeave()"
        >
          <img [src]="SendButtonSrc" alt="E-Mail" class="send-button-image" />
        </button>
      </div>
    </div>

  </form>
</div>

<div class="arrow-bottom">
  <img
    [src]="ArrowSrc"
    alt="Arrow-up"
    class="arrow-bottom-image-mobile"
    (mouseenter)="arrowEnter()"
    (mouseleave)="arrowLeave()"
    (click)="scrollToTop()"
    style="cursor: pointer"
  />
</div>