<div class="content">
  <div class="content-left">
    <h1 class="headline">Contact me</h1>

    <div class="wrapper">
      <div class="left">
        Encourage people to contact you and describe what role you are
        interested in. Show that you will add value to their projects through
        your work. Example: Feel free to get in touch with job offers or
        opportunities such as: ...
      </div>

      <div class="work-together">Let us work togehter!</div>

      <div class="right">
        <div
          class="right-top"
          (mouseenter)="EMailEnter()"
          (mouseleave)="EMailLeave()"
        >
          <div>
            <img [src]="EMailSrc" alt="E-Mail" class="e-mail-image" />
          </div>

          <div class="e-mail-wrapper">
            <div class="e-mail">
              <p>E-mail:</p>
            </div>
            <div class="e-mail2">
              <a href="mailto:gaetano1981@live.de" class="no-link-style">
                gaetano1981&#64;live.de
              </a>
            </div>
          </div>
        </div>

        <br />
        <div
          class="right-bottom"
          (mouseenter)="PhoneEnter()"
          (mouseleave)="PhoneLeave()"
        >
          <div>
            <img [src]="PhoneSrc" alt="Phone" class="phone-image" />
          </div>

          <div class="phone-wrapper">
            <div class="number">
              <p>Tel: 0176 384 849 37</p>
            </div>
          </div>
        </div>
      </div>

      <div class="content-right">
        <img
          [src]="ArrowSrc"
          alt="Arrow-up"
          class="arrow-image"
          (mouseenter)="arrowEnter()"
          (mouseleave)="arrowLeave()"
        />
      </div>
    </div>
  </div>
</div>

<div class="input-section">
  <div class="input-top">
    <div class="input-top-1">
      <div class="headline1">Your name</div>
      <div>
        <input type="email" name="email" class="custom-input-top" />
      </div>
    </div>

    <div class="input-top-2">
      <div class="headline1">Your Email</div>
      <div>
        <input type="email" name="email" class="custom-input-top" />
      </div>
    </div>
  </div>

  <div class="input-middle">
    <div class="headline2">
      <div class="headline1">Your Message</div>
    </div>
    <div>
      <input type="email" name="email" class="custom-input-bottom" />
    </div>
  </div>

  <div class="bottom-wrapper">
    <div class="input-bottom">
      <div
        class="input-button"
        (mouseenter)="InputButtonEnter()"
        (mouseleave)="InputButtonLeave()"
      >
        <img
          [src]="InputButtonSrc"
          alt="input-button"
          class="input-button-image"
        />
      </div>

      <div class="privacy-policy">
        I’ve read the <span class="highlight">privacy policy</span> and agree to
        the processing of my data as outlined.
      </div>
    </div>
    <div class="button">
      <div
        class="send-button"
        (mouseenter)="SendButtonEnter()"
        (mouseleave)="SendButtonLeave()"
      >
        <img [src]="SendButtonSrc" alt="E-Mail" class="send-button-image" />
      </div>
    </div>
  </div>
</div>

<div class="arrow-bottom">
  <img
    [src]="ArrowSrc"
    alt="Arrow-up"
    class="arrow-bottom-image"
    (mouseenter)="arrowEnter()"
    (mouseleave)="arrowLeave()"
  />
</div>
