.content {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.headline {
  display: flex;
  justify-content: center;
}

.headline1 {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #89bcd9 !important;
  margin-bottom: 5px;
  margin-left: 25px;
}

.headline2 {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #89bcd9 !important;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  width: 1010px;
}

.content-left {
  height: 500px;
  width: 1000px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.left {
  height: 120px;
  width: 50%;
  margin-top: 70px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.right {
  height: 120px;
  width: 50%;
  margin-top: 70px;
  margin-left: 30px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.right-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number {
  margin-left: 10px;
}

.e-mail-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.e-mail {
  margin-right: 10px;
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}

.right-top:hover .e-mail-wrapper .e-mail p {
  color: #89bcd9 !important;
}

.right-top:hover .e-mail-wrapper .no-link-style {
  color: #89bcd9 !important;
}

.right-bottom:hover .phone-wrapper .number p {
  color: #89bcd9 !important;
}

.right-top:hover .phone-wrapper .number {
  color: #89bcd9 !important;
}

.input-section {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.input-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-middle {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-bottom {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 950px;
}

.custom-input-top {
  border: 2px solid #ccc;
  border-radius: 24px;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  outline: none;
  height: 50px;
  width: 490px;
  margin-bottom: 20px;
}

.custom-input-bottom {
  border: 2px solid #ccc;
  border-radius: 24px;
  background-color: transparent;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  outline: none;
  height: 150px;
  width: 1000px;
}

.custom-input::placeholder {
  color: #ccc;
}

.privacy-policy {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 15px;
}

.highlight {
  color: #89bcd9;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.button {
  height: 100px;
  width: 1000px;
  display: flex;
  justify-content: flex-end;
}

.send-button {
  cursor: pointer;
}

.arrow-image {
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
}

.right-top {
  order: 1;
}

.right-bottom {
  order: 2;
}

.work-together {
  display: none;
}

.arrow-bottom {
  display: none;
}

.input-button {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.input-button:hover {
  transform: translateY(2px);
}

.input-button-image {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
  margin-top: 10px;
}

.input-button:hover .send-button-image {
  opacity: 0.9;
  transform: scale(1.02);
}

.input-button-image {
  transition: transform 0.3s ease, opacity 0.3s ease;
}



@media (max-width: 1075px) {
  .arrow-bottom-image {
    display: none;
  }

  .content {
    margin-top: 140px;
  }

  .input-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-together {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #89bcd9;
    order: 3;
    margin-top: 30px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .right {
    order: 1;
    margin-top: 20px;
  }

  .left {
    order: 2;
    width: 100%;
    max-width: 900px;
    height: auto;
    padding-left: 30px;
    margin-top: 0;
    padding-right: 5px;
    box-sizing: border-box;
  }

  .content-right {
    order: 3;
  }

  .right-top {
    order: 2;
  }

  .right-bottom {
    order: 1;
  }

  .e-mail {
    width: 63px;
  }

  .number {
    width: 260px;
  }

  .input-top {
    margin-top: 200px !important;
  }

  .content-right {
    margin-top: 400px !important;
  }

  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper {
    width: 900px;
  }

  .input-section {
    height: 900px;
  }

  .arrow-image {
    display: none;
  }

  .arrow-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }
}

@media (max-width: 950px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper {
    width: 850px;
  }
}

@media (max-width: 900px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper {
    width: 800px;
  }

  .privacy-policy,
  .highlight {
    font-size: 19px;
  }
}

@media (max-width: 850px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 750px;
  }
}

@media (max-width: 800px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 700px;
  }

  .privacy-policy,
  .highlight {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 650px;
  }

  .input-bottom {
    height: 50px;
  }
}

@media (max-width: 700px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 600px;
  }

  .privacy-policy,
  .highlight {
    font-size: 17px;
  }
}

@media (max-width: 650px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 300px;
  }

  .privacy-policy,
  .highlight {
    font-size: 16px;
    margin-top: 10px;
  }
  .button {
    margin-top: 15px;
  }
}

@media (max-width: 350px) {
  .custom-input-top,
  .custom-input-bottom,
  .headline2,
  .button,
  .bottom-wrapper,
  .input-bottom {
    width: 250px;
  }
}

@media (max-width: 732px) {
  .input-top {
    margin-top: 220px !important;
  }
}

@media (max-width: 650px) {
  .content {
    margin-top: 120px;
  }

  .right {
    margin-left: 30px;
  }

  .left {
    padding-right: 16px;
  }
}

@media (max-width: 570px) {
  h1.headline {
    font-size: 50px !important;
  }

  .e-mail,
  .e.mail2,
  .no-link-style,
  .number,
  .left {
    font-size: 18px;
  }

  .e-mail {
    margin-right: 0px;
  }

  .input-top {
    margin-top: 190px !important;
  }
}

@media (max-width: 516px) {
  .input-top {
    margin-top: 225px !important;
  }
}

@media (max-width: 438px) {
  .input-top {
    margin-top: 260px !important;
  }
}

@media (max-width: 370px) {
  .input-top {
    margin-top: 290px !important;
  }
}
