.main-container {
  display: flex;
  position: relative;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6f7f8;
  padding: 2rem;
  box-sizing: border-box;

  .logo-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 2rem 4rem;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 598px;
    height: 630px;
    box-sizing: border-box;
    margin-bottom: 2rem;

    .headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.4rem;
      position: relative;

      .arrow-back {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        cursor: pointer;
      }

      h1 {
        margin: 0;
        font-size: 59px;
        font-weight: 700;
      }
    }

    .header-line {
      width: 100px;
      height: 3px;
      background-color: #29abe2;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    form {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .input-container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
      }

      .input-field-wrapper {
        position: relative;
        padding-bottom: 1.5rem;
      }

      .error-message {
        position: absolute;
        bottom: 0;
        min-height: 20px;
        left: 0;
        color: #e01111;
        font-size: 0.875rem;
      }

      .input-field {
        position: relative;
        padding: 4px;

        input {
          width: 100%;
          padding: 0.8rem;
          padding-right: 2.5rem;
          border-radius: 10px;
          border: 1px solid #ccc;
          box-sizing: border-box;
          font-size: 1rem;

          &:focus {
            outline: none;
            border: 2px solid #29abe2;
            box-shadow: 0 0 6px rgba(41, 171, 226, 0.5);
          }

          &.error {
            border: 2px solid #ff8181;
          }
        }

        img {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          height: 20px;
          cursor: pointer;
        }
      }

      .checkbox-container {
        display: flex;
        align-items: center;
        margin-top: auto;
        margin-bottom: 1.5rem;

        label {
          margin-left: 0.5rem;
        }

        a {
          color: #29abe2;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .button-container {
        display: flex;
        justify-content: center;
        gap: 1rem;

        button {
          padding: 0.8rem 1.5rem;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.3s ease;
          font-size: 1rem;
          font-weight: bold;
        }

        .signup-btn {
          background-color: #2a3647;
          color: white;
          border: 1px solid #2a3647;

          &:hover {
            background-color: #29abe2;
            border-color: #29abe2;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }

          &:disabled {
            background-color: #ccc;
            border-color: #ccc;
            cursor: not-allowed;
            box-shadow: none;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    position: absolute;
    bottom: 2rem;

    a {
      color: #a8a8a8;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #29abe2;
      }
    }
  }
}

.success-message {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 104px;
  left: 50%;
  transform: translateX(150%);
  width: 300px;
  height: 70px;
  background-color: #2a3647;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;

  &.show {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s;
  }
}
