@media (max-width: 1180px) {
  p {
    font-weight: 700;
    font-size: 46px;
  }

  .slogan {
    font-size: 21px;
  }

  .modal-content {
    width: 1000px;
  }

  .left-panel {
    width: 330px;
  }

  .right-panel {
    width: 670px;
  }

  img {
    width: 59px;
    height: auto;
  }

  .img-wrapper {
    margin-left: 44px;
    margin-bottom: 28px;
  }

  .line {
    margin-left: 18px;
  }

  .line-wrapper {
    height: 6px;
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 1050px) {
  p {
    font-weight: 700;
    font-size: 43px;
  }

  .slogan {
    font-size: 20px;
    margin-left: 4px;
  }

  .modal-content {
    width: 900px;
  }

  .left-panel {
    width: 300px;
  }

  .right-panel {
    width: 600px;
  }

  img {
    width: 59px;
    height: auto;
  }

  .img-wrapper {
    height: 100px;
    margin-left: 26px;
    margin-bottom: 28px;
  }

  .line {
    margin-left: 12px;
  }

  .line-wrapper {
    height: 6px;
    display: flex;
    justify-content: flex-start;
  }

  .input-wrapper {
    height: 650px;
  }

  .left-site {
    width: 300px;
    height: 650px;
  }

  .right-site {
    width: 100%;
    height: 650px;
  }

  .avatar-placeholder img {
    margin-left: 8px;
  }
}

@media (max-width: 950px) {
  p {
    font-weight: 700;
    font-size: 32px;
  }

  .modal-content {
    width: 800px;
    height: 500px;
  }

  .left-panel {
    width: 350px;
  }

  .right-panel {
    width: 600px;
  }

  img {
    width: 54px;
    height: auto;
  }

  .img-wrapper {
    width: 100%;
    height: 100px;
    margin-left: 8px;
    margin-bottom: 18px;
  }

  .line {
    margin-left: 3px;
  }

  .line-wrapper {
    width: 100%;
    height: 6px;
    display: flex;
    justify-content: flex-start;
  }

  .input-wrapper {
    width: 100%;
    height: 650px;
  }

  .left-site {
    width: 300px;
    height: 650px;
  }

  .right-site {
    width: 100%;
    height: 650px;
  }

  .avatar-placeholder img {
    margin-left: 0px;
    margin-right: 16px;
  }

  .input-name,
  .input-email,
  .input-phone {
    width: 90%;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 130px;
  }
}

@media (max-width: 850px) {
  p {
    font-size: 30px;
  }

  .modal-content {
    width: 720px;
    height: 500px;
  }

  .left-panel {
    width: 220px;
  }

  .right-panel {
    width: 500px;
  }

  img {
    width: 50px;
    height: auto;
  }

  .img-wrapper {
    width: 100%;
    height: 100px;
    margin-left: 18px;
    margin-bottom: 18px;
  }

  .line {
    margin-left: 2px;
  }

  .right-site {
    width: 100%;
    margin-left: 15px;
  }

  .avatar-placeholder img {
    margin-left: 0px;
    margin-right: 6px;
  }

  .input-name,
  .input-email,
  .input-phone {
    width: 300px;
  }

  .button-left,
  .button-right {
    height: 46px;
    width: auto;
    margin-right: 20px;
    margin-top: 30px;
  }

  .save-button svg {
    width: 180px;
    height: 45px;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 52px;
    margin-left: 5px;
  }

  .input-name,
  .input-email,
  .input-phone {
    width: 93%;
  }

  .error-text {
    margin-left: 5px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .modal-content {
    height: 600px;
    width: 90%;
    max-width: 500px;
  }

  .img-wrapper {
    display: none;
  }

  .left-panel {
    height: 35%;
    width: 100%;
  }

  .right-panel {
    height: 65%;
    width: 100%;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }

  .input-wrapper {
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
  }

  .avatar-preview {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: #29abe2;
  }

  .avatar-placeholder img {
    height: 140px;
    position: absolute;
    left: 50%;
    top: 9%;
    transform: translate(-50%, -50%);
  }

  .avatar {
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 10.5%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
  }

  .right-site-top {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0px;
  }

  .right-site-bottom {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button-left {
    display: none;
  }

  .save-button {
    margin-right: 32px;
  }

  .slogan,
  .line-wrapper {
    display: none;
  }

  p {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  p {
    font-size: 52px;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 48px;
  }
}

@media (max-width: 400px) {
  p {
    font-size: 45px;
  }
}

@media (max-width: 360px) {
  p {
    font-size: 43px;
  }
}
