<section class="my-skills">
  <h1 class="headline">My Projects</h1>

  <div class="content-top">
    <div class="headline-left"><p>1. DA Bubble</p></div>
    <div class="headline-middle-left"><p>1. El Pollo Loco</p></div>
    <div class="headline-middle-right"><p>3. Join</p></div>
    <div class="headline-right"><p>4. Pokedex</p></div>
  </div>
  <div class="content">
    <div class="content-left">

      <div class="content-left-text-wrapper">
        <img
          src="img/my project section/Ellipse 8.png"
          alt="ellipse-image"
          class="ellipse-image"
        />
        <div class="content-left-text">About the Project</div>
      </div>

      <div class="content-left-text2">Test</div>

      <div class="content-left-text-wrapper">
        <img
          src="img/my project section/Ellipse 8.png"
          alt="ellipse-image"
          class="ellipse-image"
        />
        <div class="content-left-text">How I have organiesed my work process</div>
      </div>
      <div class="content-left-text2">Test</div>



      <div class="content-left-text-wrapper">
        <img
          src="img/my project section/Ellipse 8.png"
          alt="ellipse-image"
          class="ellipse-image"
        />
        <div class="content-left-text">My group work experience</div>
      </div>

      <div class="content-left-text2">Test</div>


    </div>

    <div class="content-right">
      <div class="content-left-text">Test</div>
      <div class="content-left-text">Test</div>
      <div class="content-left-text">Test</div>
    </div>
  </div>
</section>
