.splash-wrapper {
  position: fixed;
  inset: 0;
  background-color: #f6f7f8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeBackground 1s ease 1.1s forwards;
}

@keyframes fadeBackground {
  from {
    background-color: rgba(246, 247, 248, 1);
  }
  to {
    background-color: rgba(246, 247, 248, 0);
  }
}

.splash-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 280px;
  height: auto;
  --logo-left: 50px;
  --logo-top: 142px;
  --logo-transform: translate(0, -50%) scale(0.61);

  animation: logo-move 1.2s linear forwards;
}

@keyframes logo-move {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
  }
  100% {
    left: var(--logo-left);
    top: var(--logo-top);
    transform: var(--logo-transform);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .splash-logo {
    width: 220px;
    height: 220px;
    --logo-left: 10px;
    --logo-top: 70px;
    --logo-transform: translate(0%, -50%) scale(0.5);
  }
}

@media (max-width: 500px) {
  .splash-logo {
    width: 220px;
    height: 220px;
    --logo-left: -40px;
    --logo-top: 70px;
    --logo-transform: translate(0%, -50%) scale(0.5);
  }
}

@media (max-width: 390px) {
  .splash-logo {
    width: 100px;
    height: 100px;
    --logo-left: -3px;
    --logo-top: 25px;
    --logo-transform: translate(0%, -50%) scale(0.5);
  }
}

@media (min-width: 1921px) {
  .splash-logo {
    width: 280px;
    height: auto;

    --logo-left: calc(50vw - 960px + 50px);
    --logo-top: 142px;
    --logo-transform: translate(0, -50%) scale(0.61);
  }
}

.splash-logo-alt {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 280px;
  height: auto;
  --effective-width: min(100vw, 1920px);
  --logo-left-dynamic: calc(50vw - var(--effective-width) / 2 + 50px);
  --logo-top: 142px;
  --logo-transform: translate(0, -50%) scale(0.61);
  animation: logo-move-alt 1.2s linear forwards;
}

@keyframes logo-move-alt {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
  }
  100% {
    left: var(--logo-left-dynamic);
    top: var(--logo-top);
    transform: var(--logo-transform);
    opacity: 1;
  }
}
