#navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 230px;
  background-color: #2a3647;
  display: flex;
  z-index: 100;
  transition: all 225ms ease-in-out;
  display: flex;
  overflow: hidden;
}

#navbar_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

#logo {
  display: flex;
  width: 100.03px;
  height: 121.97px;
  margin-top: 64px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

#navbar nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

nav div {
  display: flex;
  justify-content: start;
  flex-direction: row;
  width: 228px;
  height: 46px;
  gap: 10px;
  padding: 10px 0;
}

img {
  margin-left: 50px;
}

p {
  margin-top: 5px;
}

#log-id-text {
  margin-top: 5px;
}

nav a.active {
  background-color: #091931;
}

nav a:hover {
  transition: transform ease-in 200ms;
  transform: scale(1.02);
  margin-left: 0;
}

nav a:hover:not(.active) {
  background-color: #485e82;
  color: white;
}

#privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

#privacy a {
  width: 228px;
  height: 46px;
  padding-left: 50px;
  padding-top: 10px;
}

#privacy a.active {
  background-color: #091931;
}

#privacy a:hover:not(.active) {
  transition: transform ease-in 200ms;
  transform: scale(1.1);
}

:not(.active) #privacy a:hover {
  color: #29abe2;
}

#navbar a {
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.login-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.login-link {
  margin-left: -5px;
}

.loginImg {
  height: 30px;
  width: 30px;
  margin-left: 50px;
}

@media (max-width: 768px) {
  #navbar {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #2a3647;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  #navbar_content {
    flex-direction: row;
    padding: 0;
    gap: 0;
  }

  #logo,
  #privacy {
    display: none;
  }

  #navbar nav {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0;
    gap: 0;
  }

  #navbar nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
  }

  #navbar nav a:hover {
    background-color: #091931;
  }

  #navbar nav a div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
    gap: 4px;
  }

  #navbar nav a div:hover {
    background-color: transparent;
  }

  #navbar nav a div img {
    margin-left: 0;
  }

  #navbar nav a div p {
    font-size: 0.8rem;
    margin: 0;
  }

  #navbar a {
    color: #ffffff;
  }
}
