<!-- Edit Modal Task -->
<div class="task-modal" (click)="close.emit()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <button id="close" (click)="close.emit()">X</button>

        <div class="content">
            <app-add-task-mobile [showHeader]="false" [showReset]="false" [showCreate]="false" [editMode]="true"
                [taskToEdit]="task" (close)="close.emit()" (taskUpdated)="onTaskUpdated($event)">
            </app-add-task-mobile>
        </div>
    </div>
</div>