.info-container {
  width: calc(100vw - 330px);
  padding: 2rem;
  max-width: 1600px;
  height: calc(100vh - 96px);
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-width: none;
  margin: 0 50px;
  font-family: 'Inter', sans-serif;
}

.join {
  color: #29ABE2;
}

.back-arrow {
  position: sticky;
  left: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 10;

  &:hover {
    transition: transform 0.3s ease;
    transform: scale(1.2);
  }
}

.info-header {
  display: flex;
  align-items: center;
  margin-top: -40px;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.5rem;
    color: #000;
    margin: 0;
  }
}

.info-content {
  line-height: 1.6;

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p,
  li {
    color: #333;
  }

  ol {
    padding-left: 20px;

    li {
      margin-bottom: 1rem;
    }
  }
}