@use "./styles/components.scss" as *;
@use "./styles/base.scss" as *;
@use "./styles/variables.scss" as *;

@font-face {
  font-family: "Anta";
  src: url("assets/fonts/Anta/Anta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/JosefinSans/JosefinSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: $white;
}

h1 {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  color: #89bcd9;
  font-size: 60px !important;
}

h2 {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  color: #89bcd9;
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

p {
  hyphens: auto;
}

app-atf + app-why-me {
  margin-top: 120px;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.highlight {
  color: #89bcd9;
}

.highlight:hover {
  color: rgb(156, 148, 148);
  cursor: pointer;
}

.typing-container .blue-text {
  color: #89bcd9 !important;
}

